<a href="https://colab.research.google.com/github/Hugekyung/NLP/blob/master/practice/%EA%B8%B0%EC%B4%88100%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코드업 기초100제

## 문제1. 수 나열하기2 https://codeup.kr/problem.php?id=1090
- 시작 값(a), 등비의 값(r), 몇 번째 인지를 나타내는 정수(n)가
공백을 두고 입력된다.(모두 0 ~ 10)
- n번째 수를 출력한다.

In [4]:
a, r, n = map(int, input().split())

for _ in range(n-1):
    a = a * r
print(a)

2 3 7
1458

In [7]:
def math_1():
    a, r, n = map(int, input().split())

    for _ in range(n-1):
        a = a * r

    return a

math_1()

2 3 7

1458

In [ ]:
n, m = map(int, input().split())

graph = []
for i in range(n):
    graph.append(list(map(int, input())))

dx = [-1, 1, 0, 0]
dy = [0, 0, -1, 1]